@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --text-color: #2b2b2b;
  --secondary-color: #E62E59;
  --hue-color: 240;
  --background-color: hsl(240, 50%, 95%);
  --shadow-color: #F2F2FB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: -0.05rem;
  color: var(--text-color);
  user-select: none;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

html,
body {
  min-height: 100vh;
  background-color: var(--background-color);
  font-size: 15px;
  overflow-x: hidden;
}

.body-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 4rem;
  min-height: calc(100vh - 10rem);
  padding: 0 5rem;
}

button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
  box-shadow:
    5px 5px 8px hsla(var(--hue-color), 40%, 90%, 1),
    -5px -5px 8px hsla(var(--hue-color), 2%, 98%, 1),
    inset 4px 4px 6px hsla(var(--hue-color), 8%, 20%, 0),
    inset -4px -4px 6px hsla(var(--hue-color), 40%, 90%, 0);
}

button:hover {
  box-shadow:
    5px 5px 8px hsla(var(--hue-color), 40%, 90%, 0),
    -5px -5px 8px hsla(var(--hue-color), 2%, 98%, 0),
    inset 4px 4px 6px hsla(var(--hue-color), 40%, 90%, 1),
    inset -4px -4px 6px hsla(var(--hue-color), 2%, 98%, 1);
}

.convex {
  border-radius: 1rem;
  box-shadow:
    5px 5px 8px hsla(var(--hue-color), 40%, 90%, 1),
    -5px -5px 8px hsla(var(--hue-color), 2%, 98%, 1),
    inset 4px 4px 6px hsla(var(--hue-color), 8%, 20%, 0),
    inset -4px -4px 6px hsla(var(--hue-color), 40%, 90%, 0);
}

.convex.clickable {
  transition: box-shadow 0.2s ease;
}

.convex.clickable:hover {
  box-shadow:
    5px 5px 8px hsla(var(--hue-color), 40%, 90%, 0),
    -5px -5px 8px hsla(var(--hue-color), 2%, 98%, 0),
    inset 4px 4px 6px hsla(var(--hue-color), 40%, 90%, 1),
    inset -4px -4px 6px hsla(var(--hue-color), 2%, 98%, 1);
}

a {
  text-decoration: none;
}


.header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 102;
  background-color: hsla(240, 50%, 95%, 0.5);
  backdrop-filter: blur(1.5em);
}

.header-content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  height: 4rem;
}

.nav-container {
  display: flex;
}

.nav-container .nav-element {
  margin: 0 3rem;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.nav-container .nav-element:hover {
  color: var(--secondary-color);
}

.logo {
  width: 70px;
}

.burger-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 4rem;
  padding: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.burger-button span {
  width: 1.5rem;
  height: 1px;
  background-color: var(--text-color);
  position: relative;
}

.burger-button span.active:nth-child(1) {
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
  left: 50%;
}

.burger-button span.active:nth-child(2) {
  opacity: 0;
}

.burger-button span.active:nth-child(3) {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
  left: 50%;
}

.page-title {
  font-weight: 300;
  font-size: 3rem;
  margin: 3rem 0;
  margin-top: 8rem;
}

.logo.background {
  width: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
  opacity: 0.02;
}

.hero {
  min-height: calc(100vh - 4rem);
  display: flex;
  position: relative;
  /* overflow-x: hidden; */
}

.hero-title {
  flex: 1;
  display: flex;
  align-items: center;
  padding-bottom: 7rem;
  /* text-transform: uppercase; */
}

.hero-title h1 {
  font-weight: 300;
  font-size: 4.5rem;
  letter-spacing: -0.15rem;
}

.hero-title h1 b {
  font-weight: 600;
  letter-spacing: -0.15rem;
}

.hero-image {
  flex: 1;
  position: relative;
}

.hero-image img {
  position: absolute;
  width: 1400px;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);

}

.hero-image .hero-background {
  right: -4.5rem;
  top: 0;
  width: 120%;
}

.hero-image .hero-laptop {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 55%;
  width: 80%;
}

.hero-buttons {
  width: 100%;
  position: absolute;
  height: 50vh;
  bottom: 0;
  display: flex;
  align-items: center;
}

.hero-button {
  font-size: 1.25rem;
  width: 20rem;
  height: 6rem;
}

.hero-button.pdf-button {
  text-align: left;
  line-height: 1.25rem;
  position: relative;
  overflow: hidden;
}

.hero-button.pdf-button span {
  font-size: .85rem;
}

.hero-button.pdf-button .pdf-icon {
  position: absolute;
  width: 25%;
  bottom: -20%;
  right: -5%;
}

.info-fields {
  padding-bottom: 5rem;
  margin-bottom: 2rem;
}

.section-title {
  margin: 0 3rem 5rem;
  font-weight: 400;
  text-align: center;
}

.info-field-elements {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3rem;
}

.info-field-element {
  flex: 1 0 15%;
  padding: 2rem;
  margin: 0 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.info-field-element h3 {
  margin-bottom: 1rem;
}

.about-company-info p {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 25% 2rem 0;
}



.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3rem;
}

.portfolio-case {
  flex: 1 0 15%;
  display: flex;
  margin: 3rem;
}

.portfolio-case-title {
  flex: 1;
  padding: 2rem;
  font-weight: 400;
  font-size: 1rem;
}

.portfolio-case-image {
  flex: 1;
  position: relative;
}

.portfolio-case-image img {
  position: absolute;
  width: 130%;
  bottom: 0;
  left: -10%;
}





.portfolio-case-wrapper {
  margin: 4rem 0;
}

.case-page-title {
  font-weight: 300;
  font-size: 3rem;
  margin: 8rem 0 3rem;
  width: 50%;
}

.case-info {
  display: flex;
}

.case-text {
  flex: 1;
  position: relative;
}

.case-info-main {
  font-size: 1.25rem;
  margin-bottom: 3rem;
  line-height: 2rem;
}

.case-info-sub {
  position: relative;
  margin-left: 50%;
  width: 50%;
  font-size: 0.85rem;
}

.case-info-sub ul {
  margin: 1rem;
  line-height: 1.25rem;
}

.case-info-sub ul li {
  margin-top: .25rem;
}

.case-image {
  flex: 1;
  position: relative;
}

.case-image img {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: -30%;
  width: 70%;
}


@media screen and (max-width: 480px) {
  .mr-4 {
    margin-right: 2rem !important;
  }

  .burger-button {
    display: flex;
  }

  .body-wrapper,
  .header-content {
    padding: 0 2rem;
  }

  .header-content {
    flex-direction: column;
  }

  .nav-container {
    display: none;
  }

  .nav-container.active {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .nav-container .nav-element {
    margin: 1.5rem;
    margin-top: 0;
  }

  .hero {
    flex-direction: column;
  }

  .hero-title {
    flex: 0;
    padding: 0;
    text-align: center;
    padding-top: 3rem;
    align-items: flex-start;
  }

  .hero-title h1 {
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: -0.15rem;
  }

  .hero-image {
    flex: 2;
  }

  .hero-image img {
    width: 800px;
    left: 38%;
    top: 45%;
  }

  .hero-buttons {
    padding: 2rem 0;
    height: auto;
    justify-content: space-between;
  }

  .hero-button {
    font-size: 0.85rem;
    width: 11rem;
    height: 4rem;
    padding: 1rem;
    line-height: 1rem;
  }

  .hero-button.pdf-button {
    line-height: 1rem;
  }

  .hero-button.pdf-button span {
    font-size: .65rem;
  }

  .info-fields {
    padding: 0;
    padding-top: 4rem;
    margin-bottom: 0;
  }

  .section-title {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }

  .page-title {
    font-size: 2rem;
  }

  .about-company-info p {
    font-weight: 400;
    font-size: 1rem;
}
}